#Contacts {
    height: 509px;
    background-color: #445162;
    margin-top: 50px;
}

#Contacts h1 {
    float: left;
    margin-left: 582px;
    margin-top: 53px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    margin-bottom: 0;
}

#Contacts address {
    float: left;
    width: 240px;
    margin-left: 45px;
    margin-top: 31px;
}

#Contacts address div {
    width: 24px;
    height: 24px;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 29px;
}

#Contacts address span {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-left: 5px;
    margin-top: 29px;
    display: inline-block;
}

#Contacts address div:last-child {
    width: 240px;
    height: 42px;
}

#message {
    float: left;
    width: 500px;
    margin-left: 249px;
    margin-top: 31px;
}

#message input {
    width: 490px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 21px;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-left: 10px;
}

#message textarea {
    border-radius: 5px;
    width: 488px;
    height: 157px;
    padding-left: 10px;
    padding-top: 13px;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    border: 0;
}

#message input[type="submit"] {
    border-radius: 5px;
    background-color: #ffffff;
    width: 140px;
    height: 40px;
    color: #445162;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-left: 180px;
    margin-top: 21px;
    box-shadow: 2px 2px 5px black;
}

#message input[type="submit"]:hover {
    background-color: #b1d9ff;
}

#message input[type="submit"]:active {
    position: relative;
    top: 2px;
    box-shadow: none;
}