#LatestProject {
    text-align: center;
}

#LatestProject h2 {
    padding-top: 81px;
}

#LatestProject p {
    width: 757px;
    margin: auto;
}

#LatestProject .LatestProjectMenu {
    margin: 40px auto;
    max-width: 630px;
    padding: 0;
}

#LatestProject .LatestProjectMenu:after {
    content: '';
    clear: both;
    display: block;
}

#LatestProject .LatestProjectMenu li {
    margin-left: 28px;
    list-style-type: none;
    float: left;
    background-color: rgba(17, 17, 17, 0);
    height: 32px;
    min-width: 70px;
    text-align: center;

}

#LatestProject .LatestProjectMenu li input {
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 32px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 32px;
    min-width: 70px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    outline: none;
}

#LatestProject .LatestProjectMenu li input:hover {
    background-color: #d0bba7;
    color: #ffffff;
}

#LatestProject .LatestProjectMenu li input:focus {
    background-color: #998675;
    color: #ffffff;
}

#LatestProjectGrid {
    display: grid;
    grid-template-columns: 346px repeat(auto-fill, 370px) 344px;
    grid-template-rows: repeat(2, minmax(337px, 1fr));
    grid-gap: 30px;
    align-items: center;
    justify-items: center;
}

#LatestProjectGrid .LatestProjectImg {
    width: 370px;
    height: 337px;
}

.LatestProjectImg:hover .LatestProjectImgFooter {
    background-color: #362f2d;
}

.LatestProjectImg:hover .LatestProjectImgFooter:before {
    border-bottom-color: #362f2d;
}


.LatestProjectImgPhoto {
    position: relative;
    width: 370px;
    height: 237px;
}

.LatestProjectImgPhoto svg {
    position: absolute;
    top: 106px;
    left: 192px;
    fill: #ffffff;
    opacity: 0;
    z-index: 2;
    transition: 0.4s;
}

.LatestProjectImgPhoto div {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.44);
    z-index: 1;
    transition: 0.4s;
    opacity: 0;
}

.LatestProjectImgPhoto svg:hover {
    fill: #c7b299;
}

.LatestProjectImgPhoto:hover div {
    opacity: 1;
}

.LatestProjectImgPhoto svg:first-child {
    left: 144px;
}

.LatestProjectImg:hover svg {
    opacity: 1;
}

.LatestProjectImgFooter {
    position: relative;
    width: 370px;
    height: 100px;
    background-color: #fbfaf8;
    transition: 0.4s;
}

.LatestProjectImgFooter:before {
    content: '';
    position: absolute;
    left: 10px;
    top: -25px;
    border: 15px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    z-index: 2;
    transition: 0.4s;
}

.LatestProjectImgFooter h4, .LatestProjectImgFooter h3 {
    float: left;
    width: 100%;
    text-align: left;
    margin-left: 28px;
    margin-bottom: -10px;
}

.LatestProjectImgFooter h4 {
    font-family: Raleway;
    color: #c7b29a;
    font-size: 20px; /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    margin-top: 30px;
}

.LatestProjectImgFooter h3 {
    font-family: Montserrat;
    color: #d1d1d1;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px; /* Приближение из-за подстановки шрифтов */
    margin-top: 14px;
}

#ArrowsRecentPosts {
    width: 55px;
    height: 22px;
    margin: 40px auto;
}

#ArrowsRecentPosts .leftArrowRecentPosts {
    float: left;
    width: 22px;
    height: 22px;
    background-image: url("../img/noActive.png");
    transition: 0.3s;
}

#ArrowsRecentPosts .leftArrowRecentPosts:hover {
    background-image: url("../img/active.png");
    transform: rotate(180deg);
}

#ArrowsRecentPosts .rightArrowRecentPosts {
    float: left;
    margin-left: 10px;
    width: 22px;
    height: 22px;
    background-image: url("../img/noActive.png");
    transform: rotate(180deg);
    transition: 0.3s;
}

#ArrowsRecentPosts .rightArrowRecentPosts:hover {
    background-image: url("../img/active.png");
    transform: rotate(0deg);
}