#metaInfo {
    min-height: 508px;
    background-color:  #191919;
    display: grid;
    grid-template-columns:  minmax(0px, 1fr) repeat(auto-fit, 258px)  minmax(0px, 1fr);
    grid-gap: 42px;
    justify-items: center;
    justify-content: center;
}

@media (max-width: 1240px) {
    #metaInfo {
        grid-template-columns: repeat(auto-fit, minmax(258px, 1fr));
        grid-template-rows: 258px auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #metaInfo div {
        grid-column: auto !important;
        grid-row: auto !important;
        margin-top: 0 !important;
    }
}

#metaInfo a {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
    font-family: Montserrat;
    color:  #d1d1d1;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 20px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}

#metaInfo a:hover {
    color: #c7b299;
}

#metaInfo a:before {
    content: '';
    position: absolute;
    left: 85px;
    top: 5px;
    border: 5px solid transparent;
    border-left: 5px solid #d1d1d1;
    z-index: 2;
    transition: 0.4s;
}

#metaInfo hr {
    background-color:  #252525;
    width: 270px;
    height: 2px;
    border: 0;
}

@media (max-width: 610px) {
    #metaInfo hr {
        width: 100%;
    }
}

#metaInfo > div {
    width: 258px;
    margin-top: 80px;
}

#metaInfo > div div:hover p {
    color: #c7b299;
}

#metaInfo > div div:hover .datePost {
    color: #ffffff;
}

#metaInfo .headLogo {
    margin: 0;
    float: none;
}

#metaInfo h4 {
    font-family: Raleway;
    color:  #ffffff;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    margin-bottom: 23px;
}

#metaInfo p {
    font-family: Montserrat;
    color:  #545454;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin: 2px 0 21px;
}

#metaInfo p .link {
    color: #00bff3;
}

#metaInfo p .linkTwo {
    color: #959595;
}

#metaInfo .datePost {
    font-family: Montserrat;
    color:  #363636;
    font-size: 12px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin: 0;
}

#metaInfo > div img {
    width: 127px;
    height: 98px;
}